*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    user-select: none;
}
.logo{
    font-family: 'Dancing Script', cursive;
    cursor: pointer;
    font-size: 50px;
}
main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(./images/compassBarber.jpg);
    background-size:100%;
    background-position:center;
}
.header{
    display: flex;
    width: 100%;
    background-color: black;
}

.navbar{
    color: #fff;
    display: inline-flex;
    width: 100%;
    height: 65px;
    align-items: center;
    /* justify-content: space-between ; */
    margin-left: 30px;
}

.nav-ul{
    position: relative;
    display: flex;
    justify-content:right;
    width: 85%;
    align-items: center;
    /* list-style: none; */
    
}

.nav-ul li{
    list-style: none;
   display: inline-block;
   margin: 0 10px;
   position: relative;
}
.nav-ul li::after{
content: '';
height: 3px;
width: 0;
background: #009688;
position: absolute;
left: 0;
bottom: -5px;
transition: 0.5s;
}
.nav-ul li:hover::after{
width: 100%;
}
.nav-ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.content h1{
    font-family: 'Dancing Script', cursive;
    font-size: 72px;
    margin-top: 80px;
}
.content p{
  margin: 20px 0;
  font-weight: 100;
  line-height: 25px;
  font-family: 'Comfortaa', cursive;
}
.content * {
    color: #fff;
}


.about-content{
    width: 100%;
    position: absolute;
    top: 30%;
    /* transform: translateY(-50%); */
    text-align: center;
}

.contact-div{
    display: flex;
    margin-top: 20px;
}
.contact{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.map{
    display: flex;
    padding-top: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.google-location{
    margin-top: 20px;
    margin-left: 20px;
    order: 2;
}
.map-content p{
    font-family: 'Comfortaa', cursive;
    display: flex;
    padding: 7px;
}
.map-content {
    justify-content: flex-start;
}






.fa {
    padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
    border-radius: 20px;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-square-facebook{
    font-size: 40px;

    height: 40px;
  }
  .fa-square-facebook:hover{
    color: #4267B2;
  }
  .fa-instagram:hover{
    background: -webkit-linear-gradient(#F9CE34, #EE2A7B, #6228D7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .fa-instagram{
    /* margin-top: 10px; */
  font-size: 40px;
    height: 40px;
  }
  .social-icons{
    height: 100px;
    /* border: 3px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* .fa-facebook {
    background: #3B5998;
    color: white;
  } */
  /* .fa-instagram {
        background: #f09433; 
      background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
      background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );

  } */